functions/FirebaseFunctionsLog.yml
app:
  description: "FirebaseFunctions\u3092\u4F7F\u7528\u3057\u3066Log\u3092\u53D6\u308B"
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: FirebaseFunctionsLog
kind: app
version: 0.1.0
workflow:
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: answer
      id: 1723399026986-source-answer-target
      source: '1723399026986'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1722238403860-source-1723401748181-target
      source: '1722238403860'
      sourceHandle: source
      target: '1723401748181'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1723401748181-source-1723401504149-target
      source: '1723401748181'
      sourceHandle: source
      target: '1723401504149'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1723401504149-source-1723402122625-target
      source: '1723401504149'
      sourceHandle: source
      target: '1723402122625'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: http-request
      id: 1723402122625-source-1723399026986-target
      source: '1723402122625'
      sourceHandle: source
      target: '1723399026986'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u958B\u59CB"
        type: start
        variables:
        - label: "\u6027\u5225"
          max_length: 48
          options:
          - "\u7537\u6027"
          - "\u5973\u6027"
          - "\u7B54\u3048\u305F\u304F\u306A\u3044"
          required: true
          type: select
          variable: gender
        - label: "\u5E74\u9F62"
          max_length: 48
          options:
          - ''
          required: true
          type: number
          variable: age
      height: 116
      id: '1722238403860'
      position:
        x: 1057.9409036819711
        y: 282
      positionAbsolute:
        x: 1057.9409036819711
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "{{#1723401504149.text#}}\n\u5206\u985E:\n{{#1723402122625.text#}}"
        desc: ''
        selected: false
        title: "\u56DE\u7B54"
        type: answer
        variables: []
      height: 126
      id: answer
      position:
        x: 2736.309758078448
        y: 282
      positionAbsolute:
        x: 2736.309758078448
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: ''
        method: post
        params: 'user_id:{{#sys.user_id#}}

          user_query:{{#sys.query#}}

          gender:{{#1722238403860.gender#}}

          age:{{#1722238403860.age#}}

          category:{{#1723402122625.text#}}

          conversation_id:{{#sys.conversation_id#}}'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: "HTTP\u30EA\u30AF\u30A8\u30B9\u30C8"
        type: http-request
        url: https://main-5j3vewiy3q-an.a.run.app
        variables: []
      height: 106
      id: '1723399026986'
      position:
        x: 2371.454233541288
        y: 282
      positionAbsolute:
        x: 2371.454233541288
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: 8fc27e3c-708c-491e-8a83-9effe60e9530
          role: system
          text: "NowTime:{{#1723401748181.text#}}\nUserInfo:{{#1722238403860.gender#}},{{#1722238403860.age#}}\n\
            \u3042\u306A\u305F\u306F\u611B\u77E5\u770C\u306E\u30B9\u30BF\u30FC\u30C8\
            \u30A2\u30C3\u30D7\u652F\u63F4\u30CF\u30D6\u3067\u3042\u308BStationAi\u306B\
            \u8A2D\u7F6E\u3055\u308C\u305FBot\u3067\u3059\u3002\u6B21\u306E\u8981\u4EF6\
            \u306B\u5F93\u3063\u3066\u3001\u30E6\u30FC\u30B6\u30FC\u304B\u3089\u306E\
            \u8CEA\u554F\u3084\u4F1A\u8A71\u306E\u30ED\u30B0\u3092\u53CE\u96C6\u3057\
            \u3066\u304F\u3060\u3055\u3044\uFF1A\u5FC5\u305A\u77ED\u3081\u3067\u5FDC\
            \u7B54\u3059\u308B\u3053\u3068\u3002\u65E5\u672C\u8A9E\u3067\u5FDC\u7B54\
            \u3059\u308B\u3053\u3068\u3002\u660E\u308B\u304F\u30DD\u30C3\u30D7\u306B\
            \u632F\u308B\u821E\u3046\u3053\u3068\u3002\u4F55\u304B\u308F\u304B\u3089\
            \u306A\u3044\u3053\u3068\u304C\u3042\u308C\u3070\u3001\u300C\u3054\u3081\
            \u3093\u306D\u3001\u50D5\u306B\u306F\u308F\u304B\u3089\u306A\u3044\u3088\
            \u300D\u3068\u8A00\u3046\u3053\u3068\u3002\u3042\u306A\u305F\u306E\u5F79\
            \u5272\u306FStationAi\u306B\u8A2A\u308C\u308B\u4EBA\u3005\u3092\u6B53\u8FCE\
            \u3057\u3001\u6328\u62F6\u3092\u3059\u308B\u3053\u3068\u3067\u3059\u3002\
            \n\n\u4EE5\u4E0B\u306FStationAi\u306B\u95A2\u3059\u308B\u60C5\u5831\u306E\
            \u6982\u8981\u3067\u3059\uFF1A\n\nStation Ai\u306F\u611B\u77E5\u770C\u306E\
            \u30B9\u30BF\u30FC\u30C8\u30A2\u30C3\u30D7\u652F\u63F4\u30D7\u30ED\u30B8\
            \u30A7\u30AF\u30C8\u306E\u4E2D\u5FC3\u7684\u306A\u30CF\u30D6\u3067\u3001\
            \u65E5\u672C\u6700\u5927\u7D1A\u306E\u30AA\u30FC\u30D7\u30F3\u30A4\u30CE\
            \u30D9\u30FC\u30B7\u30E7\u30F3\u65BD\u8A2D\u306E\u4E00\u3064\u3067\u3059\
            \u30022024\u5E7410\u670831\u65E5\u306B\u30B0\u30E9\u30F3\u30C9\u30AA\u30FC\
            \u30D7\u30F3\u4E88\u5B9A\u3067\u3059\u3002\n\n\u4E3B\u306A\u7279\u5FB4\
            \uFF1A\n\n\u2022 \u76EE\u7684\uFF1A\u4E16\u754C\u6C34\u6E96\u306E\u30B9\
            \u30BF\u30FC\u30C8\u30A2\u30C3\u30D7\u652F\u63F4\u30D7\u30ED\u30B0\u30E9\
            \u30E0\u3092\u63D0\u4F9B\u3057\u3001\u30B9\u30BF\u30FC\u30C8\u30A2\u30C3\
            \u30D7\u306E\u5275\u9020\u3068\u6210\u9577\u3092\u4FC3\u9032\u3057\u3001\
            \u56FD\u969B\u5C55\u958B\u3092\u4FC3\u9032\u3057\u3001\u624D\u80FD\u3042\
            \u308B\u4EBA\u6750\u3092\u8A98\u81F4\u3059\u308B\u3053\u3068\u3002\n\u2022\
            \ \u6240\u5728\u5730\uFF1A\u540D\u53E4\u5C4B\u5E02\u662D\u548C\u533A\u9DB4\
            \u821E\u4E00\u4E01\u76EE\n\u2022 \u898F\u6A21\uFF1A7\u968E\u5EFA\u3066\
            \u3001\u5EF6\u5E8A\u9762\u7A4D\u7D0423,000\u5E73\u65B9\u30E1\u30FC\u30C8\
            \u30EB\uFF08\u65E5\u672C\u6700\u5927\u7D1A\u306E\u30B9\u30BF\u30FC\u30C8\
            \u30A2\u30C3\u30D7\u652F\u63F4\u30CF\u30D6\u306E\u4E00\u3064\uFF09\n\u2022\
            \ \u904B\u55B6\uFF1A\u611B\u77E5\u770C\u306E\u30D7\u30ED\u30B8\u30A7\u30AF\
            \u30C8\u306E\u4E00\u74B0\u3068\u3057\u3066\u30BD\u30D5\u30C8\u30D0\u30F3\
            \u30AF\u304C\u904B\u55B6\n\u2022 \u305D\u306E\u4ED6\u306E\u60C5\u5831\uFF1A\
            \n\u2022 \u611B\u77E5\u30B9\u30BF\u30FC\u30C8\u30A2\u30C3\u30D7\u30DB\u30FC\
            \u30EB\u3082\u540C\u6642\u306B\u8A2D\u7F6E\u3055\u308C\u30012024\u5E74\
            11\u67081\u65E5\u306B\u30AA\u30FC\u30D7\u30F3\u4E88\u5B9A\u3002\n\u2022\
            \ \u30B0\u30E9\u30F3\u30C9\u30AA\u30FC\u30D7\u30F3\u524D\u306B\u3001\u30D7\
            \u30EC\u30FB\u30B9\u30C6\u30FC\u30B7\u30E7\u30F3Ai\u304CWeWork\u30B0\u30ED\
            \u30FC\u30D0\u30EB\u30B2\u30FC\u30C8\u540D\u53E4\u5C4B\u5185\u306B\u8A2D\
            \u7ACB\u3055\u308C\u3001\u30B9\u30BF\u30FC\u30C8\u30A2\u30C3\u30D7\u652F\
            \u63F4\u3092\u63D0\u4F9B\u4E2D\u3002\n\n\u63D0\u4F9B\u30B5\u30FC\u30D3\
            \u30B9\uFF1A\n\n\u2022 \u30B9\u30BF\u30FC\u30C8\u30A2\u30C3\u30D7\u306E\
            \u305F\u3081\u306E\u69D8\u3005\u306A\u652F\u63F4\u30D7\u30ED\u30B0\u30E9\
            \u30E0\n\u2022 \u56FD\u5185\u5916\u306E\u4F01\u696D\u3001\u5927\u5B66\u3001\
            \u7814\u7A76\u6A5F\u95A2\u3068\u306E\u9023\u643A\u4FC3\u9032\n\u2022 \u30B3\
            \u30EF\u30FC\u30AD\u30F3\u30B0\u30B9\u30DA\u30FC\u30B9\u3001\u30A4\u30D9\
            \u30F3\u30C8\u30B9\u30DA\u30FC\u30B9\u3001\u30EC\u30B9\u30C8\u30E9\u30F3\
            \u3001\u30DB\u30C6\u30EB\u3001\u8A17\u5150\u65BD\u8A2D\u306E\u63D0\u4F9B\
            \n\n\u671F\u5F85\u3055\u308C\u308B\u6210\u679C\uFF1A\n\n\u2022 \u30B9\u30BF\
            \u30FC\u30C8\u30A2\u30C3\u30D7\u30A8\u30B3\u30B7\u30B9\u30C6\u30E0\u306E\
            \u6D3B\u6027\u5316\n\u2022 \u65B0\u3057\u3044\u7523\u696D\u3068\u96C7\u7528\
            \u306E\u5275\u51FA\n\u2022 \u5730\u57DF\u7D4C\u6E08\u306E\u6D3B\u6027\u5316\
            \n\n\u8FFD\u52A0\u60C5\u5831\uFF1A\n\n\u2022 \u6700\u65B0\u60C5\u5831\u306F\
            \u516C\u5F0F\u30A6\u30A7\u30D6\u30B5\u30A4\u30C8\u3084\u30D7\u30EC\u30B9\
            \u30EA\u30EA\u30FC\u30B9\u3067\u78BA\u8A8D\u3067\u304D\u307E\u3059\u3002\
            \n\u2022 \u30D7\u30EC\u30FB\u30B9\u30C6\u30FC\u30B7\u30E7\u30F3Ai\u306E\
            \u5C45\u4F4F\u304A\u3088\u3073\u5229\u7528\u306B\u95A2\u3059\u308B\u8A73\
            \u7D30\u306F\u516C\u5F0F\u30A6\u30A7\u30D6\u30B5\u30A4\u30C8\u3067\u78BA\
            \u8A8D\u3067\u304D\u307E\u3059\u3002\n\n\u95A2\u9023\u30EA\u30F3\u30AF\
            \uFF1A\n\n\u2022 Station Ai\u516C\u5F0F\u30A6\u30A7\u30D6\u30B5\u30A4\u30C8\
            : https://stationai.co.jp/\n\u2022 \u611B\u77E5\u770C\u30B9\u30BF\u30FC\
            \u30C8\u30A2\u30C3\u30D7\u652F\u63F4\u30CF\u30D6\u300C\u30D7\u30EC\u30FB\
            \u30B9\u30C6\u30FC\u30B7\u30E7\u30F3Ai\u300D: https://www.pref.aichi.jp/soshiki/startup/prestationai.html\n\
            \u2022 \u30BD\u30D5\u30C8\u30D0\u30F3\u30AF\u30D3\u30B8\u30CD\u30B9\u30D6\
            \u30ED\u30B0: \u30AA\u30FC\u30D7\u30F3\u30A4\u30CE\u30D9\u30FC\u30B7\u30E7\
            \u30F3\u65BD\u8A2D\u300C\u30B9\u30C6\u30FC\u30B7\u30E7\u30F3Ai\u300D\u306E\
            \u7D39\u4ECB\u3068\u30A4\u30F3\u30BF\u30D3\u30E5\u30FC: https://www.softbank.jp/biz/blog/business/articles/202407/stationai/"
        - id: 6f452ffb-7e16-443f-a31f-09d8265f32af
          role: user
          text: '{{#context#}}'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1723401504149'
      position:
        x: 1713.8731115375167
        y: 282
      positionAbsolute:
        x: 1713.8731115375167
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: time
        provider_name: time
        provider_type: builtin
        selected: true
        title: Current Time
        tool_configurations:
          format: '%Y-%m-%d %H:%M:%S'
          timezone: Asia/Tokyo
        tool_label: Current Time
        tool_name: current_time
        tool_parameters: {}
        type: tool
      height: 116
      id: '1723401748181'
      position:
        x: 1371.2688393265223
        y: 282
      positionAbsolute:
        x: 1371.2688393265223
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: 432c3f20-4c76-4d15-bdb2-4acfeafe05e5
          role: system
          text: "\u3042\u306A\u305F\u306FStationAi\u3068\u3044\u3046\u611B\u77E5\u770C\
            \u306E\u30B9\u30BF\u30FC\u30C8\u30A2\u30C3\u30D7\u652F\u63F4\u306E\u62E0\
            \u70B9\u306B\u8A2D\u7F6E\u3055\u308C\u3066\u3044\u308BBot\u3067\u3059\u3002\
            \nBot\u3068\u30E6\u30FC\u30B6\u30FC\u304C\u4F1A\u8A71\u3057\u305F\u5185\
            \u5BB9\u3092\u8981\u4EF6\u306B\u5F93\u3044\u306A\u304C\u3089\u4EE5\u4E0B\
            \u306E\u30AB\u30C6\u30B4\u30EA\u30FC\u306B\u5206\u985E\u305B\u3088\u3002\
            \n##\u8981\u4EF6##\n\u30AB\u30C6\u30B4\u30EA\u30FC\u540D\u4EE5\u5916\u306F\
            \u8FD4\u3059\u306A\u3002\nStationAi\u306E\u8CEA\u554F\u306B\u95A2\u3057\
            \u3066\u5206\u304B\u3089\u306A\u3044\u3001\u3082\u3057\u304F\u306F\u8A72\
            \u5F53\u3059\u308B\u30AB\u30C6\u30B4\u30EA\u30FC\u304C\u306A\u3051\u308C\
            \u3070\u3001StationAi\u5168\u822C\u306B\u95A2\u3059\u308B\u8CEA\u554F\u306B\
            \u3057\u308D\u3002\n\u305D\u308C\u4EE5\u5916\u306F\u6328\u62F6\u304B\u305D\
            \u306E\u4ED6\u306B\u3057\u308D\u3002\n\u3082\u3057\u9593\u9055\u3048\u308C\
            \u3070\u7F70\u304C\u4E0E\u3048\u3089\u308C\u308B\u3002\n##\u30AB\u30C6\
            \u30B4\u30EA\u30FC\u540D##\nStationAi\u306E\u65BD\u8A2D\u6574\u5099\u30FB\
            \u904B\u55B6\u306B\u95A2\u3059\u308B\u8CEA\u554F\nStationAi\u5168\u822C\
            \u306B\u95A2\u3059\u308B\u8CEA\u554F\n\u30AA\u30D5\u30A3\u30B9\u306B\u95A2\
            \u3059\u308B\u8CEA\u554F\n\u652F\u63F4\u30D7\u30ED\u30B0\u30E9\u30E0\u306B\
            \u95A2\u3059\u308B\u8CEA\u554F\n\u8D77\u696D\u30B5\u30DD\u30FC\u30C8\u306B\
            \u95A2\u3059\u308B\u8CEA\u554F\n\u30A2\u30AF\u30BB\u30B9\u306B\u95A2\u3059\
            \u308B\u8CEA\u554F\n\u8CC7\u6599\u8ACB\u6C42\u306B\u95A2\u3059\u308B\u8CEA\
            \u554F\nAI\u5168\u822C\u306B\u95A2\u3059\u308B\u8CEA\u554F\n\u6328\u62F6\
            \n\u305D\u306E\u4ED6"
        - id: bcf80705-4dcb-429b-bd5e-01595f5ddd5a
          role: user
          text: "\u3053\u3093\u306B\u3061\u306F\uFF01\u4ECA\u65E5\u3082\u3044\u3044\
            \u5929\u6C17\u3060\u306D\uFF01\n"
        - id: 7bf7dc6f-8cd7-4405-8a24-40ea3b12d97a
          role: assistant
          text: "\u6328\u62F6"
        - id: 87258bf3-fd58-4ad0-9e74-a8bbc1a7265e
          role: user
          text: "StatoinAi\u3063\u3066\u3069\u3093\u306A\u4F1A\u793E"
        - id: d8a9ae97-4211-4659-b934-27be6bcacf66
          role: assistant
          text: "StationAi\u5168\u822C\u306B\u95A2\u3059\u308B\u8CEA\u554F"
        - id: da526221-1dee-4458-b41f-4ddfe12d9919
          role: user
          text: "5\u968E\u306B\u306F\u306A\u306B\u304C\u3042\u308A\u307E\u3059\u304B"
        - id: f8745530-73e7-439c-99b2-d41da73161ce
          role: assistant
          text: "StationAi\u306E\u65BD\u8A2D\u6574\u5099\u30FB\u904B\u55B6\u306B\u95A2\
            \u3059\u308B\u8CEA\u554F"
        - id: b4256f91-3666-4e40-ae3b-3caeb9a7d7bb
          role: user
          text: "\u30AA\u30D5\u30A3\u30B9\u306F\u4F55\u968E\u306B\u3042\u308A\u307E\
            \u3059\u304B"
        - id: 90f8df23-6a66-43ee-bea5-a99cfb403cd2
          role: assistant
          text: "StationAi\u306E\u65BD\u8A2D\u6574\u5099\u30FB\u904B\u55B6\u306B\u95A2\
            \u3059\u308B\u8CEA\u554F"
        - id: 3e8b7618-d682-4953-a39c-6a402f36f865
          role: user
          text: "\u8D77\u696D\u3057\u305F\u3044\u3067\u3059"
        - id: 4b202994-848d-4a24-8b64-8fec31ff8fb3
          role: assistant
          text: "\u8D77\u696D\u30B5\u30DD\u30FC\u30C8\u306B\u95A2\u3059\u308B\u8CEA\
            \u554F"
        - id: c000c4d5-7fcc-4e59-b632-1cea009db85a
          role: user
          text: "\u3053\u3053\u304B\u3089\u9DB4\u821E\u99C5\u306B\u306F\u3069\u3046\
            \u3084\u3063\u3066\u3044\u3051\u3070\u3044\u3044"
        - id: dc191d50-a54a-4d7e-835f-b1114f482374
          role: assistant
          text: "\u30A2\u30AF\u30BB\u30B9\u306B\u95A2\u3059\u308B\u8CEA\u554F"
        - id: 92839581-1301-42bc-8e5c-174e732952f4
          role: user
          text: '{{#sys.query#}}'
        - id: d30d4c0a-22da-4b45-bce7-250f6e0d258f
          role: assistant
          text: '{{#1723401504149.text#}}'
        selected: false
        title: LLM 3
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1723402122625'
      position:
        x: 2017.3276685988644
        y: 282
      positionAbsolute:
        x: 2017.3276685988644
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -351.0281070044791
      y: 198.85547390496788
      zoom: 0.49512817122965064
